//** SCREEN STYLES **//

// Imports --------------------------------------------------------------

@import defaults
@import compass/utilities
// Layout --------------------------------------------------------------

+susy

// change '.container' to match your HTML container element
// or @extend it to apply multiple containers on your site.
#container
  +container
  //+show-grid("grid.png")
  //*
    background-color: rgba(0,0,0,.125)

h1
  +full
  +prefix(1)
  +adjust-font-size-to(21px)
  //+leader(1,25px)
  +trailer(1,25px)

h2
  +full
  +prefix(1)
  +adjust-font-size-to(18px)
  margin-bottom: 10px
  //+trailer(1,10px)

a
  &:focus
    outline: none

#sidebar
  +columns(3)
  +alpha
  text-align: right
  ul
    +no-bullets
  #tagcloud
    +columns(2,3)
    +omega
    +tag-cloud(10px)
    margin: 10px 0
    a
      float: left
      margin: 2px
  //#auth
    .auth_provider
      +adjust-font-size-to(11px)
      float: right
      text-decoration: none
      margin: 2px 10px
      text-align: center
      width: 54px
      img
        display: block
        margin: auto

div[role="main"]
  +columns(9)
  +omega
  #flash_notice,
  #flash_error
    padding: 5px 8px
    margin: 10px 0
  #flash_notice
    background-color: #ccffcc
    border: solid 1px #66cc66
  #flash_error
    background-color: #ffcccc
    border: solid 1px #cc6666
  .schedule
    border:
      bottom: solid
    .controls
      float: left
      padding-right: .4em
    .items
      +no-bullets
      +adjust-font-size-to(18px)
      .level1
        padding-left: 1.3em
      .level2
        padding-left: 2.6em
  textarea
    +monospace-family

footer
  +full
  +pad(3,3)

.clear
  clear: both
  height: 0
  overflow: hidden



@media all and (orientation:portrait)

@media all and (orientation:landscape)

@media screen and (max-device-width: 480px)

@media print
  *
    background: transparent !important
    color: #444 !important
    text-shadow: none !important
  a, a:visited
    color: #444 !important
    text-decoration: underline
  a:after
    content: " (" attr(href) ")"
  abbr:after
    content: " (" attr(title) ")"
  .ir a:after
    content: ""
  pre, blockquote
    border: 1px solid #999
    page-break-inside: avoid
  thead
    display: table-header-group
  tr, img
    page-break-inside: avoid
  @page
    margin: 0.5cm
  p, h2, h3
    orphans: 3
    widows: 3
  h2, h3
    page-break-after: avoid
