:erb
  <form action="<%= url %>" method="post" name="edit" id="schedule_edit">
    <p class="meta"><input type="text" name="tags" value="<%= schedule.tags %>" /></p>
    <div class="entry">
  	  <textarea name="body"><%= schedule.body %></textarea>
    </div>
    <div class="edit"><input type="submit" value="Save" /></div>
  </form>

