- title 'Create/Edit Schedule', false
%form{:action => "#{url}", :method => "post", :name => "edit", :id => "schedule_edit"}
  %input{:type => "text", :name => "tags", :value => "#{schedule.tags}"}
  %textarea{:name => "body"}
    = schedule.body
  %input{:type => "submit", :value => 'Save'}
