<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>ScheduleDB</title>
	<link href="/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <% unless flash[:error].nil? %><div id="flash_error"><%=flash[:error]%></div><% end %>
  <% unless flash[:notice].nil? %><div id="flash_notice"><%=flash[:notice]%></div><% end %>
  <ul id="nav">
    <li><a href="/">list</a></li>
    <li><a href="/s/new">new schedule</a></li>
  </ul>
  <div id="content">
	  <%= yield %>
  </div>
</body>
</html>
