- schedules.each do |schedule|
  %small
    =schedule.linked_tags
  %p
    Distance
    = schedule.full_distance
    %br
    %small
      with
      = schedule.items
      = pluralize(schedule.items, 'Item')
  %p
    %a(href="#{schedule.url}")more

