- title 'List', false

%small
  - if by_rank
    %a(href="/")sort chronologic
  - else
    %a(href="/?sort=by_rank")sort by rank
%br
  
= haml :_schedules, :layout => false, :locals => {:schedules => schedules}

