- title 'List', false

%small
  sort
  - if by_rank
    %strong
      by rank
    |
    %a(href="/")chronologic
  - else
    %a(href="/?sort=by_rank")by rank
    |
    %strong
      chronologic
%br
  
= haml :_schedules, :layout => false, :locals => {:schedules => schedules}

